.under-construction-page-container {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.construction-img {
    width: 40%;
}

.under-construction-title {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
}